* {
	font-size: 16px;
	font-family: pango, DejaVu, Sans, Mono;
}

window#waybar {
	background: rgba(10,16,22,0.85);
	color: #c8e1e8;
}
/*
window > box{
	margin: 0 0 5 0px;
}*/

.horizontal{
	padding: 0 8 0 8px;
}

#workspaces {
	background: rgba(0,0,0,0);
	min-width: 300px;

}
#clock{
	background: transparent;
	padding: 0 7 0 5px;
	color: #c8e1e8;
	opacity: 0.99;
	border-radius: 5px;
}
#pulseaudio{
	color: #ffcb77;
	opacity: 0.6;
	padding: 0 10 0 10px;
	min-width: 100px;
}
#backlight,
#memory {
	background: transparent;
	color: #d12350;
	opacity: 0.6;
	padding: 0 8 0 8px;
}

#cpu {
	background: transparent;
	color: #6bb5d5;
	padding: 0 8 0 8px;
	opacity: 0.6;
}
#temperature,
#battery {
	background: #0a1016;
	opacity: 0.9;
}

#workspaces button {
	background: rgba(255,255,255, 0.1);
	margin: 0 0px;
	opacity: 0.8;
	padding: 0 3 0 3px;
	color: #c8e1e8;
	border-radius: 0px;
	border-bottom: 2px solid transparent;
	/*border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;*/
}
#workspaces button.focused {
	color: #0a1016;
	border-bottom: 2px solid #6bb5d5;
	background: #c8e1e8;
	opacity: 0.85;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #c8e1e8;
	color: #0a1016;
	border: #0a1016;
	opacity: 0.50;
}
#mode{
	background-color: #64727d
}

#network {
	background: transparent;
	min-width: 300px;
	padding: 0 1px;
	opacity: 0.6;
	color: #55dd6e;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#backlight,

#custom-separator {
	margin: 0 5px;
}
#custom-language {
	color: #c8e1e8;
	padding: 0 20 0 0px;
}
